/*
* @Author: anchen
* @Date:   2017-03-11 21:13:27
* @Last Modified by:   Lheyue
* @Last Modified time: 2017-05-12 14:48:54
*/
*{
    padding:0;
    margin:0;
}
.body_style{
    /*background-image:url(../imgs/timg.jpg);*/
   background-color:#E3E3E3;

   /*background-color:yellow;*/

}
.notes{
    width:200px;
    height:200px;
    float:right;
    /*border:1px black;*/
}
.element{
    width:15px;
    height:15px;
    display:inline-block;
    /*border:1px,black;*/
}

.input_sort{
    width:50px;
    border:1px solid dimgray;
    height:18px;
    margin-top:5px;
    margin-left:10px;
}
form{
    color:dimgray;
    font-size:14px;
    font-weight:bold;/*加粗*/
}
.select_sty{
     color:dimgray;
    font-size:14px;
    height:18px;
}
.l_td{
    width:100px;
}
table,td{
    border:1px solid #353E35;
    border-collapse:collapse;
    text-align:center;
    color:#353E35;
}
.table_sork{
    margin:50px auto;
}
.table_sork td{
    width:300px;
}
.div_head{
    width:100%;
    height:57px;
    margin:0 auto;

    background-color:gray;
   /*background-color:yellow;*/

}
.div_body{
    width:1200px;
    /*height:2500px;*/

    margin:18px auto;
    /*background-color:lightgray;*/
}
.display_time_rear{
    font-size:18px;
    color:dimgray;
     text-indent:15px;
.my_chart{

}

}
.text1{
    font-size:22px;
}
.text2{
    text-indent:25px;
    font-weight:normal;/*去掉加粗*/
}
.div_left{
    width:350px;
    height:560px;
    /*background-color:gray;*/
    margin-left:0px;
    /* border:1px solid red;*/
     float:left;
     background-color:lightgray;
     /*background-color:pink;*/
}
.div_sort{
    margin:20px auto;
    width:85%;
    height:520px;
    background-color:lightgray;
    /*background-color:pink;*/
    border-radius:15px ;
    border:1px gray;
}
.div_right{
    width:800px;
    height:560px;
    margin-left:46px;
    /*margin-top:20px;*/
    /* border:1px solid red;*/
     background-color:lightgray;
     /*background-color:pink;*/
     float:left;
     /*滚动条*/
     overflow:auto;

}
.div_clear{
    clear:both;
}
.h2_sort{
    font-size:25px;
    color:dimgray;
    text-indent:20px;

}
.submit_type{
    float:right;


}
.font_left{
 color:dimgray;
 font-weight:bold;
  text-indent:35px;/*首行缩进*/
}
.button_sort{
    width:100px;
    margin:10px auto;
    text-align:center;
    line-height:36px;
    font-size:14px;
    border-radius:5px;
    font-weight:700;
    cursor:pointer;
    border:1px solid dimgray;
    color:dimgray;
    background-color:lightgray;
    margin-right:50px;
    float:right;
}
.msg{
    color:rgba(173,173,173,1);
    text-indent:35px;/*首行缩进*/

}